<h2>User info</h2>

<!--プロフィール表示・編集ボタン　共通レイアウト-->
<%= render 'books/profile', user: @user %>

<!--ここまで-->

<!--新規投稿フォーム　共通レイアウト-->
<%= render 'books/newbook_form', book: @book %>
<!--ここまで-->

<!--投稿一覧　共通レイアウト-->
<%= render 'books/books_list', books: @books %>
<!--ここまで-->




