

  
  
  <div class="container px-5 px-sm-0">
      
      <% if @book.errors.any? %>
        <div class="error_explanation">
          <h3><%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:</h3>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
    <div class="row">
  
      <!--プロフィール・新規投稿フォーム　共通レイアウト　books/_sidebar.html.erb-->
      <%= render 'sidebar', user: @user, book: @book %>
      
      <!--投稿一覧　共通レイアウト-->
      <%= render 'books_list', books: @books %>
    </div>
  </div>



